<div class="container profile">
    <h1>Welcome {{username}}</h1>

    <section>
        {{#if photo}}
        <img class="userimage" src="{{photo}}" alt="{{username}}">
        <p> <small>If you want to change your image, click here:</small></p>
        {{else}}
        <p>Add your image here:</p>
        {{/if}}
        <form action="/profile/add-image" method="POST" enctype="multipart/form-data">
            <input type="file" name="photoupload"><br>
            <input class="btn btn-outline-dark btn-sm my-2" type="submit" value="Save"><br>
        </form>
        <br>

        <div class="container justify-content-beetween">
            <h2>These are your favorites news</h2>
            <div class="row">

                {{>newsCardProfile this}}

            </div>
        </div>
        <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
        <script src="/javascripts/profile-favs.js"></script>
    </section>
</div>