<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="container">
    <div class="row">
        {{#each news}}
        {{>newsCard this}}
        {{/each}}
    </div>
</div>

<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src="/javascripts/add-delete-fav.js"></script>